<form action="search_keyword" method="post">
  <h3>Please enter key words for search.</h3>
  <textarea name="keywords" autofocus></textarea>
  <br />
  <h3>Please enter location for search in format: City, ST</h3>
  <input type="text" name="loc"></input>
  <br />
  <h3></h3>
  <button type="submit" >Submit Search</button>
</form>
