<form action="search_keyword" method="post">
  <h3>Please enter key words for search.</h3>
  <textarea id="keywords" autofocus></textarea>
  <br />
  <button type="submit" >Submit Search</button>
</form>
